/* feedback button */
body > .form-button {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 2000;
}

body > .form-button > a {
  padding: 4px 8px;
  border: solid 1px #cccccc20;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 4px;
  display: block;
  background: #158cba;
  color: white;
}
